@import url('https://fonts.googleapis.com/css?family=Prosto+One');

html{
  scroll-behavior: smooth;
}

body {
  background-image: url(images/img_nature.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
}

h1 {
  font-family: 'Prosto One', cursive;
  font-size: 3rem;
}

p {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
}

main{
  margin-top: 22em;
  padding: 3em;
  z-index: 99;
  background-color: #5c5c5c;
}

.bloco{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.3em .6em;
  padding: 1.5em;
  border: .3em solid rgb(46, 46, 46);
  border-radius: 1.3em;
}

.main{
  font-size: 1.6em;
}

.titulo{
  display: block;
  font-family: 'Prosto One', cursive;
  font-size: 3rem;
  font-weight: bold;
}

.sub{
  display: block;
  font-family: 'Prosto One', cursive;
  font-size: 1rem;
  font-weight: bold;
}

.bar-top{
  display: flex;
  flex-direction: row;
  max-height: 9em;
  width: 100%;
  top: 0px;
  position: fixed;
  background-color: #272727;
  
}


.bg-img {
  width: 100%;
  height: 22em;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 0;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 2em;
  min-width: 19em;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: .3em;
  
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
